@model Client


<div class="container-fluid px-4">
    <h1 class="mt-4">Add Client</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">BSC Hub</li>
        <li class="breadcrumb-item">Clients</li>
        <li class="breadcrumb-item active">Add Client</li>

    </ol>




    <form asp-action="Add" method="post" role="form">
        <div>
            <div>
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="User" class="form-label">Provider</label>
                    <select asp-for="UserId" asp-items="ViewBag.Consultants" class="form-control"></select>
                </div>
                <div>
                    <label asp-for="IsSevere" class="form-label">Is Severe</label>
                    <input asp-for="IsSevere" type="checkbox" />
                </div>
                <div>
                    <label asp-for="NeedsBCIP" class="form-label">Needs BCIP</label>
                    <input asp-for="NeedsBCIP" type="checkbox" />
                </div>
                <div>
                    <label asp-for="NeedsPPMP" class="form-label">Needs PPMP</label>
                    <input asp-for="NeedsPPMP" type="checkbox" />
                </div>

            </div>
        </div>
        <div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Add Client" />
            </div>
        </div>

    </form>

</div>