@model ClientFormViewModel

    <form asp-action="AddClient" method="post" role="form">
        <div>
            <div >
                <div>
                    <label asp-for="Client.FirstName" class="form-label">First Name</label>
                    <input asp-for="Client.FirstName" class="form-control" />
                    <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <label asp-for="Client.LastName" class="form-label">Last Name</label>
                    <input asp-for="Client.LastName" class="form-control" />
                    <span asp-validation-for="Client.LastName" class="text-danger"></span>

                </div>
                <div class="mt-3">
                    <label asp-for="Client.ISP_YearStartDate" class="form-label">ISP Start Date</label>
                    <input asp-for="Client.ISP_YearStartDate" class="form-control" />
                    <span asp-validation-for="Client.ISP_YearStartDate" class="text-danger"></span>

                </div>
                <div class="mt-4">
                    <label asp-for="Client.Provider" class="form-label"></label>
                    <select asp-for="Client.ProviderId" asp-items="Model.Providers" class="form-control"></select>
                </div>
            </div>
        </div>
        <div>
            <div class="mt-3">
                <input type="submit" class="btn btn-primary" value="Add Client" />
            </div>
        </div>

    </form>
