@model ReportListViewModel

<h1 class="mt-4">My Reports</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">BSC Hub</li>
    <li class="breadcrumb-item active">My Reports</li>
</ol>

<div class="accordion" id="reportsAccordion">
    <vc:report-list-card name="Late" reports="Model.Reports"></vc:report-list-card>
    <vc:report-list-card name="Upcoming" reports="Model.Reports"></vc:report-list-card>
    <vc:report-list-card name="In Review" reports="Model.Reports"></vc:report-list-card>
    <vc:report-list-card name="Reviewed" reports="Model.Reports"></vc:report-list-card>
</div>
