@using SocialWorkApp.MVC.ViewModels
@model ReportListViewModel

<h1 class="mt-4">My Reports</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">My Reports</li>
</ol>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        Late
        <i class="fa-solid fa-chevron-down" role="button" href="#late" data-toggle="collapse" data-target="#late"></i>
    </div>
    <div class="card-body collapse" id="late">
        <p>
            Content
        </p>
    </div>
</div>





<style>
    .fa-chevron-down {
       position: relative;
       top: 3px;
    }
</style>


@* <div class="accordion" id="reportAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="lateHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#late" aria-expanded="true" aria-controls="late">
                Late
            </button>
        </h2>
        <div id="late" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#reportAccordion">
            <div class="accordion-body">
                <partial name="_ReportTable" model="Model.Reports"></partial>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="upcomingHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#upcoming" aria-expanded="true" aria-controls="upcoming">
                Upcoming
            </button>
        </h2>
        <div id="upcoming" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#reportAccordion">
            <div class="accordion-body">
                <partial name="_ReportTable" model="Model.Reports"></partial>
            </div>
        </div>
    </div>
</div>

 *@

