@model DateViewModel

<div class="modal-header">
    <h5 class="modal-title">
        Update ISP Year Start Date
    </h5>
</div>
<div class="modal-body">


    <form asp-controller="Dates" asp-action="UpdateYear" asp-route-ISP_YearId="@ViewBag.YearId" method="post" role="form">

        <div class="mb-3">
            <label asp-for="Date" class="form-label">ISP Year Start Date</label>
            <input asp-for="Date" class="form-control" />
        </div>
        <div class="mb-3 mt-3">
            <input type="submit" class="btn btn-primary" value="Update Start Date" />
        </div>
    </form>
</div>









