<div class="sb-sidenav-menu-heading">Reports</div>
<a class="nav-link" asp-controller="Report" asp-action="List">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-file"></i></div>
    Reports
</a>
<div class="sb-sidenav-menu-heading">Clients</div>
<a class="nav-link" asp-controller="Client" asp-action="List">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
    Clients
</a>